<h2>Here are the rules of the game</h2>

<p>The players count aloud to three. Each time raising one hand in a fist and swinging it down on the count.
<p>On the third count, they then "throw" by extending it towards their opponent with a hand gesture of either Rock, Paper or Scissors.

<h2>Who wins what, with what</h2>

<ul>
  <li>Rock beats Scissors, but Paper beats Rock</li>
  <li>Scissors beats Paper, but Rock beats Scissors</li>
  <li>Paper beats Rock, but Scissors beats Paper</li>
</ul>
