body {
  background-image: url("https://images.pexels.com/photos/1249214/pexels-photo-1249214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
  background-size: cover;
}
h3 {
  color: dodgerblue;
  font-family: verdana;
}
p,li{
  color: red;
}
